<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PMF - Contact</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--srart theme style -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <!-- end theme style -->
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="images/fadvicon.png"> 
</head>
<body>
<!--Loader Start -->
    <div class="rs_preloaded">
        <div class="rs_preloader">
            <div class="lines">
            </div>
            <div class="loading-text">LOADING...</div>
        </div>
    </div>
<!--Loader End -->
<header>
		<div class="rs_index2_mainmenu">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<nav class="navbar navbar-default">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs_index2_menu" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								<div class="collapse navbar-collapse" id="rs_index2_menu">
									<ul class="nav navbar-nav tool pull-right">
										<li  class="rs_megamenu"><a href="../index.html">home</a></li>
										<li class="rs_megamenu"><a href="about.html">About</a></li>
										<li class="rs_megamenu"><a href="project.html">Project</a></li>
										<li class="rs_megamenu"><a href="galleries.html">Galleries</a></li>
										<li class="active"><a href="contact.html">Contact</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
		</div>
	</header>

	<div class="rs_transprantbg rs_toppadder100 rs_bottompadder70">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="rs_contact_form">
						<div class="rs_submitform">
							
								<div class="form-group">
									<input type="text" class="form-control" id="ur_name" placeholder="Enter your name">
								</div>
								
								<div class="form-group">
									<input type="email" class="form-control" id="ur_email" placeholder="Enter email Address">
								</div>

								<textarea class="form-control" rows="10" id="msg" placeholder="Enter your message"></textarea>
							
								<div class="rs_btn_div rs_toppadder30">
									<a href="javascript:;" id="send_btn" class="rs_button rs_button_orange">send</a>
									<p id="err"></p>
								</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-right">
					<div class="rs_contact_section">
						<div class="rs_contact_heading rs_green_heading rs_bottompadder50">
							<h3>Find Us Here</h3>
							<div><span><i class="fa fa-heart"></i></span></div>
						</div>
						<div class="rs_contact_info">
							<div class="rs_contact_info_img">
								<img src="../images/cnt_1.png" alt="" class="img-responsive">
							</div>
							<div class="rs_contact_data">
								<span>Vosloorus, Boskburg <br>
									Gauteng, ZA
								</span>
							</div>
						</div>
						<div class="rs_contact_info">
							<div class="rs_contact_info_img">
								<img src="../images/cnt_2.png" alt="" class="img-responsive">
							</div>
							<div class="rs_contact_data">
								<p> O71 277 0913 <b>Mapelo Makgabo</b></p>
								<p>071 503 0535 <b>Johanna Makgabo</b>
							</p>
							</div>
						</div>
						<div class="rs_contact_info">
							<div class="rs_contact_info_img">
								<img src="../images/cnt_3.png" alt="" class="img-responsive">
							</div>
							<div class="rs_contact_data">
								<p><a href="#">info@pmakgabofoundation.co.za</a></p>
							</div>
						</div>
						<div class="rs_contact_info">
							<a href="donation.html" class="btn btn-donate">DONATE NOW</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rs_index2_bootomfooter rs_toppadder30 rs_bottompadder30">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="rs_index2_copyright">
						<p>&copy; <a href="http://www.sawdevsolutions.co.za">Saw Dev Solutions.</a> All rights reserved. Built by Development Team.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
					<div class="rs_index2_footer_link">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    <script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/modernizr.custom.js" type="text/javascript"></script>
    <script src="../js/plugins/rating/star-rating.js" type="text/javascript"></script>
    <script src="../js/plugins/countto/jquery.countTo.js" type="text/javascript"></script>
    <script src="../js/plugins/countto/jquery.appear.js" type="text/javascript"></script>
    <script src="../js/plugins/owl/owl.carousel.js" type="text/javascript"></script>
	<script src="../js/plugins/revel/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.actions.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.navigation.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.parallax.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../js/jquery.mixitup.js" type="text/javascript"></script>
	<script src="../js/plugins/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="../js/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="../js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/snap.svg-min.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/classie.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/main3.js" type="text/javascript"></script>
	<script src="../js/plugins/jquery-ui/jquery-ui.js" type="text/javascript"></script>
	<script src="../js/plugins/c3_chart/d3.v3.min.js" type="text/javascript"></script>
	<script src="../js/plugins/c3_chart/c3.js" type="text/javascript"></script>
	<script src="../js/pgwslideshow.js" type="text/javascript"></script>
    <script src="../js/custom.js" type="text/javascript"></script>
</html>