<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PMF - Projects</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--srart theme style -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--Loader Start -->
    <div class="rs_preloaded">
        <div class="rs_preloader">
            <div class="lines">
            </div>
            <div class="loading-text">LOADING...</div>
        </div>
    </div>
<!--Loader End -->
<header>
		<div class="rs_index2_mainmenu">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<nav class="navbar navbar-default">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs_index2_menu" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								<div class="collapse navbar-collapse" id="rs_index2_menu">
									<ul class="nav navbar-nav tool pull-right">
										<li  class="rs_megamenu"><a href="../index.html">home</a></li>
										<li class="rs_megamenu"><a href="about.html">About</a></li>
										<li class="active"><a href="#">Project</a></li>
										<li class="rs_megamenu"><a href="galleries.html">Galleries</a></li>
										<li class="rs_megamenu"><a href="contact.html">Contact</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
		</div>
	</header>
			<div class="rs_transprantbg rs_toppadder100 rs_bottompadder70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="rs_main_heading rs_pink_heading rs_bottompadder70">
						<h3>Projects</h3>
						<div><span></span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="../img/sanitarypads.jpg" class="img-responsive">
					<h3>Sanitary towels</h3>
					<p class="pcenr">
						Ongoing monthly contributions towards providing sanitary towels to school girls.
					</p>
				</div>
				<div class="col-md-6">
					<img src="../img/speech.jpg" class="img-responsive img-program">
					<h3>Programmes</h3>
					<ul class="pcenr">
						<li>Mentorship (establish a relationship with a learner to provide guidance)</li>
						<li>Motivational speaking to inspire</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="rs_graybg rs_knowledgebase_page_shadow rs_toppadder100 rs_bottompadder100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="rs_main_heading rs_green_heading rs_bottompadder60">
						<h3>Volunteering</h3>
						<div><span></span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="center">
						Volunteering is one of the best ways to connect with others. Compassion, heart, willingness and selflessness
						 is what we are looking for. Our passion is helping school children and providing them with the resources to learn.
					</p>
				</div>
			</div>
		</div>
	</div>
			<div class="rs_transprantbg rs_toppadder100 rs_bottompadder70">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="rs_main_heading rs_green_heading rs_bottompadder60">
						<h3>Events and News</h3>
						<div><span></span></div>
					</div>

					<ul class="evnt">
						<li>Motivational speaking sessions at schools or chosen location</li>
						<li>University field trips for inspiration and motivation</li>
						<li>Corporate file trips for motivation</li>
						<li>Fundraising events</li>
						<li>News will be posted on an adhoc basis</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="rs_main_heading rs_pink_heading rs_bottompadder70">
						<h3>Wishlist</h3>
						<div><span></span></div>
					</div>

					<ul class="evnt col-md-offset-3">
						<li>Scholarships/bursaries</li>
						<li>Food donations</li>
						<li>Second hand clothing</li>
						<li>Stationery</li>
						<li>School uniform and shoes</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


		<div class="rs_index2_bootomfooter rs_toppadder30 rs_bottompadder30">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<div class="rs_index2_copyright">
							<p>&copy; <a href="http://www.sawdevsolutions.co.za">Saw Dev Solutions.</a> All rights reserved. Built by Development Team.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
						<div class="rs_index2_footer_link">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    <script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/modernizr.custom.js" type="text/javascript"></script>
    <script src="../js/plugins/rating/star-rating.js" type="text/javascript"></script>
    <script src="../js/plugins/countto/jquery.countTo.js" type="text/javascript"></script>
    <script src="../js/plugins/countto/jquery.appear.js" type="text/javascript"></script>
    <script src="../js/plugins/owl/owl.carousel.js" type="text/javascript"></script>
	<script src="../js/plugins/revel/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.actions.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.navigation.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.parallax.min.js" type="text/javascript"></script>
    <script src="../js/plugins/revel/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../js/jquery.mixitup.js" type="text/javascript"></script>
	<script src="../js/plugins/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="../js/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="../js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/snap.svg-min.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/classie.js" type="text/javascript"></script>
    <script src="../js/plugins/offcanvasmenu/main3.js" type="text/javascript"></script>
	<script src="../js/plugins/jquery-ui/jquery-ui.js" type="text/javascript"></script>
	<script src="../js/plugins/c3_chart/d3.v3.min.js" type="text/javascript"></script>
	<script src="../js/plugins/c3_chart/c3.js" type="text/javascript"></script>
	<script src="../js/pgwslideshow.js" type="text/javascript"></script>
    <script src="../js/custom.js" type="text/javascript"></script>
</body>
</html>